<section class="bg-[#e2e2e2] p-5 flex items-center justify-between shadow-md gap-5">
  <div class="font-medium">
    @if (user.role === 'Studente') {
      <ul class="flex items-center gap-8">
        <li>
          <a routerLink="/homepage" class="hover:text-[#6d28d2]">Home</a>
        </li>

        <li>
          <a routerLink="/personal" class="hover:text-[#6d28d2]">Area personale</a>
        </li>
      </ul>
    }
  </div>

  <div class="flex justify-end items-center gap-3">
    <div class="flex items-center gap-2">
      <span class="material-symbols-rounded text-4xl!"> account_circle </span>
      <p>{{ fullname }}</p>
    </div>

    <button
      class="bg-[#6d28d2] hover:bg-[#5621a5] text-white transition ease-in w-30 rounded-full shadow-md p-3 cursor-pointer"
      type="button"
      (click)="logoutUser()"
    >
      Logout
    </button>
  </div>
</section>
